.logo-img{
    width: 100%;
    height: 50px;
}

.nav-left{
    padding-left: 800px;
}
/* 
.nav-item{
    padding-left: 40px;
} */

.navbar{
    background-color: brown !important;
}

/* a.nav-link{
    color: white !important;
} */